@font-face {
  font-family: "TitilliumWeb";
  src: url("../../public/fonts/TitilliumWeb-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "TitilliumWeb";
  src: url("../../public/fonts/TitilliumWeb-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "TitilliumWeb";
  src: url("../../public/fonts/TitilliumWeb-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TitilliumWeb";
  src: url("../../public/fonts/TitilliumWeb-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
