.header {
  width: 100%;
  height: 70px;
  background-color: var(--color-eastern-blue);
  display: flex;
  align-items: center;
  padding-inline: var(--container-padding);
  color: var(--color-wild-sand);
}
