li {
  padding-left: 20px;
  &:nth-child(1) {
    padding-left: 0px;
  }
}

.navigationListItemLink {
  text-decoration: none;
  color: var(--color-wild-sand);
  transition: all 0.3s ease;
}

.active {
  color: var(--color-periwinkle-gray);
  text-decoration: underline;
}
