@use "./styles/variables.scss";
@use "./styles/fonts.scss";
@import "normalize.css/normalize.css";

body,
html {
  height: 100%;
  margin: 0;
  width: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;
}
